body{
    background-color: beige;
}
.hero {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: tomato;
    text-align: center;
}
.hero__logo{
grid-column: 1;
width: 200px;
height: 200px;


}
.hero__h1{
    font-family: 'Amatic SC', cursive;
    margin-top: 63px;
    grid-column: 2;
font-size:50px;
text-align:center;
}

.contact{
    display:grid;
    grid-template-columns: repeat(3, 1fr);




}
.contact__textholder{

    grid-column: 3;
}
.menu_pic{
    margin-top:20px;
    height: 350px;
    width: 350px;
    grid-column:2;
}


.menu{
    display:grid;
    width:60%;
    grid-gap:80px;
    margin:0 auto;
    text-align: left;;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 100px;
}
.menu__header{
    text-align:center;

}

.menu__pizza{
    
}
.pizza-price{
    color:red;
}


